
@{
    Layout = "~/Shared/Master.cshtml";
}

  <div> 
      <table class="table table-striped table-dark">
          <thead>
              <tr>
                  <th>Nome</th>
                  <th>Código da matricula</th>
                  <th>Nota 1</th>
                  <th>Nota 2</th>
                  <th>Nota 3</th>
                  <th>Média</th>
                  <th>Faltas</th>
                  <th>Frequência</th>
                  <th>Situação</th>
              </tr>
          </thead>
          <tbody>
              <tr>

              </tr>
          </tbody>
          <tfoot>
              <tr>
                  <th>Nome</th>
                  <th>Código da matricula</th>
                  <th>Nota 1</th>
                  <th>Nota 2</th>
                  <th>Nota 3</th>
                  <th>Média</th>
                  <th>Faltas</th>
                  <th>Frequência</th>
                  <th>Situação</th>
              </tr>
          </tfoot>
      </table>
</div>
